body
{
	background-color: #c48c4d;
	color: white;
	font-family: 'Lato', sans-serif;
}

#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

#logo
{
	margin-top: 20px;
	font-size: 40px;
	font-weight: bold;
	letter-spacing: 4px;
}

#logo > a
{
	text-decoration: none;
	color: inherit;
}

#menu
{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;
}

#menu > a
{
	font-weight: 900;
	font-size: 20px;
	border: white solid 2px;
	width: 160px;
	background-color: #423b34;
	color: #f5d5b0;
	text-align: center;
	padding: 10px 0px;
	border-radius: 5px;
	text-decoration: none;
}

#menu >a:hover
{
	background-color: #f5d5b0;
	color: #423b34;
}


#topbar
{
	display: flex; 
	justify-content: flex-between;
	background-color: #a89074;
	margin-top: 20px;
	padding: 5px;
	border-radius: 10px;
}

 #photo
{
	text-align: center;
	padding: 20px 10px;
	border-right: solid 1px;
	flex: 0 0 179px;
}
 #text
{
	padding: 0px 20px;
	text-align: justify;
	font-size: 16px;
	margin-top: 20px;
}

.bigtitle
{
	font-size: 30px;
	font-weight: 900;
	letter-spacing: 1px;
}

#content
{
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
	
}

 #leftbar
{
	background-color: #c48c4d;
	text-align: center;
	padding: 0px 5px 0px 0px;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	flex: 0 0 196px;
	margin-right: 10px;

	
}

#leftbar > .option
{
	background-color: #423b34;
	font-size: 20px;
	border: white solid 2px;
	width: 180px;
	color: #f5d5b0;
	text-align: center;
	font-weight: 900;
	padding: 10px 0px;
	border-radius: 5px;
	margin-bottom: 15px;
	text-decoration: none;
	
}

#leftbar > .option:hover
{
	background-color: #f5d5b0;
	color: #423b34;
	text-decoration: none;
}

 #rightbar 
{
	color: #423b34;
	padding: 30px 25px;
	border-radius: 50px 15px;
	font-size: 17px;
	text-align: justify;
	background-color: white;
}

#dottedline

{
	border-bottom: 2px dotted  #444444;
	margin: 20px 0px;
}

#footer

{
	text-align: center;
	margin: 20px 0px;
	letter-spacing: 1px;
	background-color: #423b34;
	padding: 10px 5px;
	border-radius: 50px 15px;
}




