body {
  margin: 0;
  background-color: rgb(106, 124, 143);
  text-align: center;
}

p {
  margin: 10px 0 0 0;
  color: rgba(0, 0, 0, 0.5);
}

h1 {
  margin: 0;
  font-size: 18px;
}

#wrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
  margin-top: 20px;
  padding: 50px 0;

}


.liczba {
  width: 600px;
  height: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: lightslategray dotted 1px;
  border-radius: 8px;
  margin-bottom: 50px;

}

#pole1 {
  width: 100px;
  margin-top: 20px;
  font-size: 20px;
  padding: 5px;
  text-align: center;

}

#pole2 {
  width: 100px;
  margin-top: 20px;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}


.zatwierdz {
  font-size: 15px;
  padding: 5px;
  cursor: pointer;
}

#wybierzdzialanie
{
  width: 600px;
  height: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: lightslategray dotted 1px;
  border-radius: 8px;
  margin-bottom: 80px;
}

.button1
{
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 17px;
}

.button1:hover 
{
  background-color:salmon;

}

.button2
{
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 17px;
}

.button2:hover 
{
  background-color:cornflowerblue;

}

.button3
{
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 17px;
}

.button3:hover 
{
  background-color:darkorchid;

}

.button4
{
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 17px;
}

.button4:hover 
{
  background-color:darkolivegreen;
}

button:hover
{
  cursor: pointer;
}

.buttony
{
  margin: 20px;
}

#wynik
{
  width: 600px;
  height: 150px;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border: lightslategray dotted 1px;
  border-radius: 8px;
  margin-bottom: 80px;
  padding-top: 50px;
  
}

#polewynik
{
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  text-align: center;
  width: 200px;
  background-color: lightcyan;
  padding: 20px;
  font-size: 20px;
  font-weight: bold;


}
